parameters:
	phpVersion: 70400 # PHP 7.4 (oldest supported version)
	level: 4
	paths:
		- src/Imdb/
	ignoreErrors:
		- '#Call to an undefined method DOMNode::getAttribute\(\)#'
		- '#Call to an undefined method DOMNode::getElementsByTagName\(\)#'
